.noto-serif-font {
  font-family: "Noto Serif", serif;
}
.inter-font {
  font-family: "Inter", sans-serif;
}

/* shared style */

.font-color-1{
    color: #000000;
}
.font-color-2{
    color: #8987A1;
}
.font-color-3{
    color: #252432;
}
.font-color-4{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: -0.1rem;
}
main > section{
    margin-top: 120px;
}
.secondary-color{
    color: #E95A08;
}
.center{
    text-align: center;
}
.btn-primary{
    color: #FFFFFF;
    background-color: #E95A08;
    padding: 1rem 5.56rem;
    font-weight: 600;
    border: none;
    
}

/* header style start */
.header, .hero-banner, .our-plants{
    max-width: 1140px;
    margin: 0 auto;
    
}


/* navbar style */
.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid; */
}
.link, .link-span{
    display: flex;
    
}
.nav-link{
    list-style: none;
    margin-left: 2.5rem;
}
.nav-link a{
    text-decoration: none;
}
.link-span{
    font-weight: 400;
}
.home-link{
    font-weight: 700;
}
/* hero banner style start */
.hero-banner{
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 130px;
   
}

.banner-title{
    font-size: 4.1rem;
    font-weight: 700;
    margin-bottom: -1rem;
}
/* .banner-discription{
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: -0.1rem;
} */
/* our plant section style */
.plants-title{
    font-size: 3.13rem;
    font-weight: 700;

}
.plants-description{
    margin-top: -25px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 3rem;
    gap: 1.9rem;
    
}
.img-title{
    font-size: 1.4rem;
    font-weight: 400;
    color: #111111;
}
.img-price{
    font-size: 1.4rem;
    font-weight: 700;
    color: #111111;
    margin-top: -10px;
}


/* Responsibe Media Quary */
/* mobile device */
@media screen and (max-width:576px) {
    .link-span{
        display: none;
    }
    .hero-banner{
        flex-direction: column-reverse;
        margin-top: 28px;
    }
    .card-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 1.25rem;
    }
   .card-img{
    width: 100%;
   }
    
}