.noto-serif-font {
  font-family: "Noto Serif", serif;
}
.inter-font {
  font-family: "Inter", sans-serif;
}

/* shared style */

.font-color-1{
    color: #000000;
}
.font-color-2{
    color: #8987A1;
}
.font-color-3{
    color: #252432;
}
.font-color-4{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: -0.1rem;
}
main > section{
    margin-top: 120px;
}
.secondary-color{
    color: #E95A08;
}
.center{
    text-align: center;
}
.btn-primary{
    color: #FFFFFF;
    background-color: #E95A08;
    padding: 1rem 5.3rem;
    font-weight: 600;
    border: none;
    text-align: center;
    
}

/* header style start */
.header, .hero-banner, .our-plants, .flower-and-plants{
    max-width: 1140px;
    margin: 0 auto;
}


/* navbar style */
.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.link, .link-span{
    display: flex;
    
}
.nav-link{
    list-style: none;
    margin-left: 2.5rem;
}
.nav-link a{
    text-decoration: none;
}
.link-span{
    font-weight: 400;
}
.home-link{
    font-weight: 700;
}
/* hero banner style start */
.hero-banner{
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 130px;
   
}

.banner-title{
    font-size: 4.1rem;
    font-weight: 700;
    margin-bottom: -1rem;
}
/* .banner-discription{
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: -0.1rem;
} */
/* our plant section style */
.plants-title{
    font-size: 3.13rem;
    font-weight: 700;

}
.plants-description{
    margin-top: -25px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 3rem;
    gap: 1.9rem;
    width: 100%;
}
.card-img{
    width: 100%;
}

.img-title{
    font-size: 1.4rem;
    font-weight: 400;
    color: #111111;
}
.img-price{
    font-size: 1.4rem;
    font-weight: 700;
    color: #111111;
    margin-top: -10px;
}
/* flower and plant section */
.flower-and-plants{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.flower{
    width: 33.8rem;
    height: 37.4rem;
}
.plant-title{
    font-weight: 700;
    font-size: 3.12rem;
}
.list-item{
    margin-bottom: 1rem;
}
.img-div-1{
    position:relative;
}
.img-div-2{
    position:absolute;
    z-index: 100;
    width: 100%;
}
.img-div-2 img{
    width: 286px;
    margin-top: -110px;
    margin-left: 390px;
    /* box-shadow: -4px 10px 4px 0 rgba(0, 0, 0, 0.25); */
}



/* Responsibe Media Quary */
/* mobile device */
@media screen and (max-width:576px) {
    .link-span{
        display: none;
    }
    .hero-banner{
        flex-direction: column-reverse;
        margin-top: 28px;
    }
    .card-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 1.25rem;
    }
   .card{
        /* width: 100%; */
   }
   .card-display{
    display: none;
   }
   .trusted{
    display: none;
   }
   .flower-and-plants{
    flex-direction: column;
   }
   .img-div-1 img{
    width: 100%;
   }
    
}